<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header"><a href="/">Code Wars</a></div>
      <div class="content">
        <div class="levels">
          <% for(let i = 0; i < difficultyLevels.length; i++) { %>
            <div>
              <span class="level" data-level="<%= difficultyLevels[i] %>" href="http://localhost:3000/?difficulty_level=<%= difficultyLevels[i] %>">
                Level <%= difficultyLevels[i] %>
              </span>
            </div>
          <% } %>
        </div>
        <div class="problemContainer">
          <% for(let i = 0; i < problems.length; i++) { %>
            <div class="problem">
              <div class="problemHeader">
                <div>Level <%= problems[i].difficulty_level %></div>
                <div>
                  <a href="/problems/<%= problems[i]._id %>">
                    <%= problems[i].title %>
                  </a>
                </div>
                <div><%= problems[i].solution_count %> solved</div>
              </div>
              <div><%= problems[i].description %></div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
